0<!DOCTYPE html>
<html>
<head>
	<title>add</title>
	<meta charset = "UTF-8">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/app1.css">
  <link rel="stylesheet" type="text/css" href="./css/app2.css">
    <script type="text/javascript"  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
<% include header %>

<div class="container">
	<div class="jumbotron">
		<h1> Add a new campground </h1>
<form role="form" action="/addnew" method="POST">
  <div class="form-group">
    <label for="exampleInputname1">name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">image</label>
    <input type="text" class="form-control" name="image" placeholder="Enter image">
  </div>
  <div class="form-group">
    <label for="exampleInputlink1">description</label>
    <input type="textarea" class="form-control" name="description" placeholder="Enter description">
  </div>
  <button type="submit" id="i" class="btn btn-success">add schema</button>
</form>

   <form action="/update" method="GET">
  <button type="submit" id="i"  class="btn btn-info">Edit schema</button>
  </form>

  <form action="/delete" method="GET">
  <button type="submit" id="i" class="btn btn-danger">delete</button>
  </form><br>

   </div>
  </div>

<% include footer %>
</body>
</html>