<!DOCTYPE html>
<html>
<head>
	<title>add</title>
	<meta charset = "UTF-8">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/app1.css">
  <link rel="stylesheet" type="text/css" href="./css/app2.css">
    <script type="text/javascript"  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
<% include header %>

<div class="container">
	<div class="jumbotron">
		<h1> Add a new campground </h1>
<form role="form" action="/deleted" method="POST">
  <div class="form-group">
    <label for="exampleInputname1">name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter name">

<br>
   <form>
  <button id="i" type="submit" class="btn btn-danger">delete</button>
  </form>

   </div>
  </div>

<% include footer %>